fastapi
pydantic
langdetect
langchain
langchain-core
langchain-community
langchain-openai
python-dotenv
firecrawl
llama-index
pinecone-client
nltk
scipy
tiktoken

langgraph

# frontend
streamlit
requests